body {
  background-image: url('0.');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.typewriter-container {
  text-align: center;
  padding: 20px;
}

.typewriter-title {
  font-size: 24px;
  font-weight: bold;
  color: #15804;

}



.typewriter-box {
  background-color: rgba(0, 0, 0, 0);
  padding: 40px;
  border: 2px solid black;
  width: 500px;
  max-height: 500px;
  margin: 0 auto;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  overflow-y: auto;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.typewriter-box::before,
.typewriter-box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, transparent, #FF00); 
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.typewriter-box:hover::before,
.typewriter-box:hover::after {
  opacity: 1;
}


.typewriter-box:hover::before {
  border-color: #015854;
}

.typewriter-box:hover {
  background-color: #FF0000;
}

.typewriter-box {
  background: linear-gradient(45deg, #7eb5ff, #0b3d91);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

.typewriter-box::before {
  transition: border-color 0.3s ease;
}

.typewriter-box:hover::before {
  border-color: #015854;
}

.typewriter-box:hover {
  background: linear-gradient(45deg, #0b3d91, #15ff4a);
}

.typewriter-box p {
  margin: 0;
  font-size: 18px;
  font-family:Roboto;
  color: #fff;
}

@media (max-width: 768px) {
  .typewriter-box {
    width: 90%;
  }
}
